<div class="pokemon">
<h2><%= @pokemon.name %></h2>
  <img src="<%= @pokemon.img_url %>">
  <p>Type: <%= @pokemon.poke_type %></p>
  <p>CP: <%= @pokemon.cp %></p>
  <p><a href='/pokemons/<%= @pokemon.id %>/edit'>Edit this Pokemon</a></p>
</div>
